html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body #root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body iframe {
  border-width: 0px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #29314F;
}

a {
  text-decoration-color: #5669dc;
}
